* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: ubuntu, sans-serif;
}   

.navbar-dark .navbar-brand {
    color: #ffc107;
    font-size: large;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffc107;
    font-size: large;
}

.heading {
    margin-top: 1.5rem;
}

.btn-success {

color: #fff;
background-color: #2849a7;
border-color: #2849a7;

}


.container-b {

    display: flex;
    align-items: center;
    justify-content: center;

}

