
body {
    font-family: ubuntu, sans-serif;
    background-color: e9ecef;
} 


.media-body {
    background-color:#fff;
}

.navbar-dark .navbar-brand {
    color: #ffc107;
    font-size: large;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffc107;
    font-size: large;
}

.btn-success {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.container-b {
    display: flex;
    align-items: center;
    justify-content: center;
}



