* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: ubuntu, sans-serif;
    background-color: e9ecef;
}   

.navbar-dark .navbar-brand {
    color: #ffc107;
    font-size: large;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffc107;
    font-size: large;
}

.heading {
    margin-top: 1.5rem;
}

.btn-success {

color: #fff;
background-color: #2849a7;
border-color: #2849a7;
font-size: medium;

}


.container-b {

    display: flex;
    align-items: center;
    justify-content: center;

}

/* form */

/* Car Models */

.btn-primary {

    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    float: left;
    
}

img {
    vertical-align: middle;
    border-style: solid;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: large;
}
